html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

#three {
  position: fixed;
  top: 0;
  left: 0;
}

#video {
  display: none;
}

#startBtn {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  padding: 12px 20px;
}
