html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

#three {
  position: fixed;
  inset: 0;
}

/* camera preview */
#video {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 120px;
  height: auto;
  opacity: 0.6;
  z-index: 10;
}

#preview {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 120px;
  height: auto;
  z-index: 11;
  pointer-events: none;
}
