html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

#three {
  position: fixed;
  inset: 0;
}

#video {
  display: none;
}

/* 右下の動作確認用 */
#debug {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 160px;
  border: 2px solid white;
  z-index: 10;
}

#debug video {
  width: 100%;
}
